.container{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container_left{
  width: 100%;
}
.form_content{
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-left: 120px;
  overflow: hidden;
}
.note{
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
  color: #a0a0a0;
  margin-bottom: 10px;
}
.form_submit{
  width: 80%;
  margin: auto;
  background: #ff8000;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 50px;
}
.form_submit2{
  margin-top: 20px;
}
.title_n{
  margin-left: 15px;
  border-right: 1px solid #dcdcdc;
  width: 95px;
  text-align: left;
  position: absolute;
  top: 22px;
  left: 0px;
}
.title_n i{
  width: 20px;
  color: #ff8000;
}
.form_input{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
}
.form_textarea{
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
}
.meetingTime{
  width: 80px;
  float: left;
}
.meetingTime select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: none;
  background: white;
  border: 1px solid #dcdcdc;
  float: left;
  width: 100%;
}
.users{
  min-height: 34px;
  line-height: 34px;
  margin-left: 10px;
  text-align: left;
  width: 100%;
  padding-right: 15px;
  box-sizing: border-box;
  position: relative;
}
.users span{
  margin-right: 5px;
}
.fa-angle-right{
  position: absolute;
  right: 5px;
  top: 4px;
  font-size: 30px;
}
.container_right{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: white;
  position: fixed;
  top: 0px;
  left: 100%;
  transition:left 0.3s;
  -webkit-transition:left 0.3s;
  color: #8a8a8a;
}
.selectContainer{
  padding: 50px 0px 0px 0px;
  box-sizing: border-box;
}
.selectchild{
  padding: 0px 15px;
  box-sizing: border-box;
}
.selectUser{
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  min-height: 50px;
  overflow: hidden;
}
.selectUserChild{
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
  border: 1px solid #ccc;
  padding: 5px;
}
.fa-times{
  margin-left: 5px;
}
.search{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #dcdcdc;
}
.fa-search{
  position: absolute;
  top: 8px;
  right: 10px;
  color: #8a8a8a;
}
.searchResult{
  text-align: left;
  position: absolute;
  width: 100%;
  background: white;
  font-size: 14px;
  z-index: 2;
}
.searchResult li{
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  margin-top: -1px;
}
.fa-check{
  float: right;
  color: green;
  display: none;
  position: absolute;
  right: 20px;
  top: 12px;
}
.classA{
  left:0%
}
.classB{
  left:100%
}
.group{
  text-align: left;
  margin-top: 20px;
}
.grouptitle{
  padding: 10px 15px;
  background: #f1f1f1;
  color:#333;
  font-size: 14px;
}
.groupname{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 30px;
  position: relative;
  padding: 10px 45px 10px 15px;
  border-bottom: 1px solid #efefef;
}
.userinfo{
  padding-left: 28px;
}
.management{
  color: red;
  float: right;
}
/*.form_content i{*/
  /*width: 30px;*/
/*}*/
